.animation_img
{
  display: flex;
  position: absolute;
  height: 1000px;
  z-index: -1;
  top: -20px;
  left: 814px;
  overflow: hidden;
  transform: rotate(-12deg);
}

.animation_img div:nth-child(1)
{
  width: 330px;
  height: 3960px;
  background-size: 360px;
  background-image: url("src/assets/styles/img/column-left.webp");
  background-repeat: repeat-y;
  position: relative;
  animation: move 30s infinite;
}

.animation_img div:nth-child(2)
{
  height: 3960px;
  width: 240px;
  background-size: 225px;
  background-image: url("src/assets/styles/img/column-right.webp");
  background-repeat: repeat-y;
  position: relative;
  animation: move_reverse 30s infinite;
}

@keyframes move
{
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-1900px);
  }
}
@keyframes move_reverse
{
  0% {
    transform: translateY(-1900px);
  }
  100% {
    transform: translateY(0px);
  }
}