@media (max-width: 768px) {

  .header {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    left: 0;
    top:16px;
    background: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    z-index: 100;
    justify-content: space-between;
    position: fixed;
    width: 768px;
    height: 90px;

  }

  .button_menu
  {
    text-decoration: none;
    border: none;
    background-color: white;
    display: flex;
    padding-left: 39px;
  }

  .button_menu:hover
  {
    text-decoration: none;
    display: flex;
    padding-left: 39px;
    background-color: white;
  }

  .menu
  {
    display: none;
  }



  .contacts_tel
  {
    display: none;
  }

  .logo_it_website
  {
    display: flex;
    padding: 0;
    margin-right: 324px;
    margin-top: 22px;
    width: 0;
  }
  .connection
  {
    width: 382px;
    height: 356px;
    justify-content: normal;
  }

  .customer
  {
    flex-direction: column;
    align-items: flex-start;
    width: 224px;
  }

  .email_logo
  {
    display: flex;
    color: #2D66EE;
    text-decoration: none;
    padding-right: 0;
    padding-left: -18px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.154px;
  }

  .email-icon
  {
    display: flex;
    padding-right: 25px;
  }

  .email_logo img
  {
    width: 19px;
    height: 18px;
  }

  .email_logo a
  {
    text-decoration: none;
  }

  .introduction_and_connection
  {
    background-size: 100px;
    background-position-x: 200px;
  }

  .button_consultation
  {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 130px;
    height: 60px;
  }

  .button_text_consultation
  {
    width: 105px;
  }

  .connection_information
  {
    width: 290px;
  }

  .introduction_big
  {
    width: 400px;
  }

  .introduction_small
  {
    width: 300px;
  }

  .development_cycle
  {
    padding-left: 40px;
    height: 499px;
    padding-top: 2px;
    width: auto;
  }

  .web_list
  {
    width: 320px;
  }

  .mobile_list
  {
    width: 320px;
  }

  .link_list
  {
    left: 440px;
    padding-top: 230px;
    gap: 24px;
  }

  .footer_inf
  {
    width: auto;
  }

  .footer_names, .footer_info
  {
    width: 690px;
  }

  .footer
  {
    width: auto;
    max-width: 768px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }


  .projects_proud
  {
    background: none;
  }

  .project_proud
  {
    flex-direction: column;
    padding-left: 0;

  }

  .menu2
  {
    padding-left: 0;
    gap: 30px;
  }

  .button_view
  {
    display: flex;
    justify-content: end;
    padding-right: 32px;
  }



  .lets_discuss
  {
    padding-left: 33px;
    padding-bottom: 32px;
  }

  .lets_discuss .feedback
  {
    position: unset;
    width: 600px;
    height: 190px;
  }

  .lets_discuss .consultation
  {
    flex-direction: row;
  }


  .development_dev_stages
  {
    padding-left: 33px;
    width: auto;
  }

  .item_block
  {
    margin-right: 0;
    width: 640px;
  }

  .our_team_block
  {
    padding-left: 33px;
    width: auto;
  }

  .people_img
  {
    margin-left: 0;
    display: flex;
  }

  .get_the_book
  {
    padding-left: 33px;
    width: auto;
  }

  .consultation
  {
    gap: 30px;
  }

  .get_the_book .feedback
  {
    width: 200px;
  }

  .get_the_book .introduction_big
  {
    width: 368px;
  }

  .get_the_book .button_send
  {
    justify-content: center;
  }

  .items_block
  {
    height: unset;
  }

  .FAQ
  {
    padding-left: 33px;
    width: auto;
  }

  .FAQ_items
  {
    height: 480px;
  }
}
