@import url('src/assets/styles/static/fontsSCSS.css');

.header
{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 66px;
  width: 1130px;
  height: 60px;
  left: 105px;
  top: 25px;
  padding: 20px 100px;
  position: fixed;      /*закреплен в верхней части экрана при скролле */
  border-radius: 10px;
  z-index: 120;
  background: #FFFFFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
}

body {
  background-color: #eff0f3;
}

.button_menu {
  display: none;
}

.logo_it_website
{
  text-decoration: none;
  color: #2D66EE;
  width: 155px;
  height: 33px;
  line-height: 18px;
  letter-spacing: 0.846px;
  font-weight: 700;
  font-size: 20px;
}

.menu_composition
{
  display: flex;
}

.menu_composition a
{
  text-decoration: none;
  color: #000000;
}

.menu
{
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 20px;
}

.phone_logo
{
  width: 20px;
  height: 20px;
}

.contacts_tel li
{
  display: block;
}

.contacts_tel li a
{
  text-decoration: none;
}

.email_logo
{
  width: 30px;
  height: 15px;
}

.number
{
  left: 400px;
  display: inline;
  width: 109px;
  height: 18px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #2D66EE;
}

.email
{
  font-size: 15px;
  line-height: 19px;
  color: #2D66EE;
  width: 150px;
  height: 18px;
  font-style: normal;
  font-weight: 500;
}

.email a
{
  text-decoration: none;
}

.contacts_tel
{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  gap: 32px;
  width: 472px;
  height: 24px;
}

.contacts_mail
{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  gap: -14px;
  width: 472px;
  height: 24px;
}

.contacts_mail li
{
  display: block;
}

.introduction
{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 24px;
  position: relative;
  width: 600px;
  left: 108px;
  margin-bottom: 0;
}

.introduction_big {
  width: 500px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 144%;
  color: #101828;
  margin-bottom: 0;
}

.introduction_small {
  width: 500px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.24px;
  color: #101828;
  margin-top: 0;
}

.connection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 24px;
  gap: 32px;
  position: relative;
  width: 676px;
  left: 108px;
  top: 50px;
  background: #FFFFFF;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.08), 0 0 24px rgba(0, 0, 0, 0.16);
  border-radius: 12px;
}

.connection_information {
  width: 500px;
  font-style: inherit;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #101828;
}

.customer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 24px;
  width: 628px;
}

.number_text
{
  width: 224px;
  height: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #667085;
  margin: 0;
  padding: 0;
}
.name_text
{
  width: 224px;
  height: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #667085;
  margin: 0;
  padding: 0;
}

.input_number
{
  align-items: flex-start;
  padding: 0;
  gap: 8px;
  width: 150px;
  height: 20px;
  margin: 0;
  outline: none;
  border: 0;
  border-bottom: 1px solid;
}

.input_name {
  align-items: flex-start;
  padding: 0;
  gap: 8px;
  width: 150px;
  height: 20px;
  margin: 0;
  outline: none;
  border: 0;
  border-bottom: 1px solid;
}



.name_block
{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 8px;
  width: 224px;
}

.number_block
{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 8px;
  width: 224px;
}

.button_consultation
{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 11px 24px;
  gap: 8px;
  width: 132px;
  height: 58px;
  background: #2D66EE;
  border-radius: 8px;
  cursor: pointer;
}

.introduction_and_connection {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 160px;
  padding-bottom: 160px;
  /*background-image: url("src/assets/styles/Group.png");
  background-size: 800px;
  background-repeat: repeat;
  background-position: right;*/
}



.web_header, .mobile_header
{
  width: 496px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #101828;
}

.web_list li, .mobile_list li
{
  display: flex;
  text-decoration: none;
  color: #344054;
  font-style: normal;
  font-size: 17px;
}

.web_list li:after, .mobile_list li:after
{
  content: "/";
  padding-left: 5px;
  padding-right: 5px;
  color: #2D66EE;
  font-style: normal;
  font-size: 17px;
}

.web_list, .mobile_list
{
  display: flex;
  flex-direction: row;
  text-decoration: none;
  flex-wrap: wrap;
  color: #344054;
  width: 496px;
}

.button_text_consultation
{
  width: 84px;
  height: 36px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.154px;
  color: #FFFFFF;
  text-align: left;
}

.development_cycle
{
  background: white;
  margin: 0;
  padding-left: 108px;
  padding-top: 80px;
  padding-bottom: 82px;
}

.link_list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  position: absolute;
  width: 233px;
  left: 836px;
  top: 980px;
}

.link_list li a {
  text-decoration: none;
  color: #1D2939;
}

.link_list li a:visited, .link_list li a:focus {
  color: #1D2939;
}

.link_list li:hover {
  text-decoration: none;
  color: #1D2939;
  border-bottom: #2D66EE 1px solid;
  font-weight: bold;
}

.link_list li {
  display: flex;
  text-decoration: none;
  margin-bottom: 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #1D2939;
}

.link_list li:after {
  content: url("src/assets/styles/img/IconColor(2).svg");
  padding-left: 17px;
}





footer {
  width: 1224px;
  left: 108px;
  height: 222px;
  background: #101828;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.08), 0 2px 24px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  gap: 40px;
  margin: auto;
}

.header_footer {
  color: #FFFFFF;
  size: 36px;
  line-height: 18px;
  margin: 0;
}

.footer_names li
{
  display: flex;
  width: 1224px;
}

.footer_info li
{
  display: flex;
  width: 1224px;
}

.footer_names
{
  display: flex;
  width: 1224px;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.08), 0 2px 24px rgba(0, 0, 0, 0.08);
  color: #98A2B3;
}

.footer_info
{
  flex-direction: row;
  align-items: center;
  gap: 40px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.08), 0 2px 24px rgba(0, 0, 0, 0.08);
  display: flex;
  color: white;
  width: 1224px;
}

.h2_footer
{
  padding-top: 0;
  width: 160px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.078px;
  color: #FFFFFF;
}

.blue_text
{
  color: #1e56ec;
}


