.menu button{
    width: 140px;
    height: 40px;
    text-align: right;
    font-size: 24px;
    border: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-width: 0 0 3px 0;
    box-shadow: 0 0 10px 0 black;
    background: linear-gradient(white, #529091);
}

.lim
{
    position: relative;
    padding-left: 60px;
    display: inline;
    font-size: 18px;
}

.lim:first-child>a
{
    left: 0;
    z-index: 100;
}

a
{
    position: absolute;
}

.imgcat
{
    width: 350px;
}

.parag
{
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
}

.zagh1
{
    font-size: 64px;
    color: #1F3F68;
}

.zagh2
{
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.zagh3
{
    font-size: 36px;
    text-align: center;
}

.zagh4
{
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
}

.textar
{
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.butSub
{
    width: 120px;
    background: linear-gradient(to right, #4975E6, #8C55E8);
    border-radius: 8px;
    border: 0;
    text-align: center;
    color: white;
    text-transform: uppercase;
    height: 35px;
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
}

.cont
{
    background-image: url(src/assets/styles/img/foncon.jpg)
}